/*--flex--*/
.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}

.justify-c-left {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-c-right {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-c-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-c-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-c-around {
  justify-content: space-around !important;
}

.align-i-left {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-i-right {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-i-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-c-left {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-c-right {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-c-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-i-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

@media (max-width: 1200px) {
  .flex-lg-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }

  .flex-lg-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }

  .flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }

  .flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }

  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }

  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }

  .flex-lg-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }

  .flex-lg-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }

  .flex-lg-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }

  .flex-lg-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }

  .flex-lg-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }

  .justify-c-lg-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }

  .justify-c-lg-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }

  .justify-c-lg-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .justify-c-lg-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }

  .justify-c-lg-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }

  .align-i-lg-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }

  .align-i-lg-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }

  .align-i-lg-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  .align-i-lg-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }

  .align-i-lg-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }

  .align-c-lg-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }

  .align-c-lg-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }

  .align-c-lg-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }

  .align-c-lg-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }

  .align-c-lg-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }

  .align-c-lg-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }

  .align-s-lg-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }

  .align-s-lg-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }

  .align-s-lg-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }

  .align-s-lg-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }

  .align-s-lg-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }

  .align-s-lg-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (max-width: 992px) {
  .flex-md-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }

  .flex-md-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }

  .flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }

  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }

  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }

  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }

  .flex-md-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }

  .flex-md-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }

  .flex-md-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }

  .flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }

  .flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }

  .justify-c-md-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }

  .justify-c-md-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }

  .justify-c-md-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .justify-c-md-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }

  .justify-c-md-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }

  .align-i-md-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }

  .align-i-md-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }

  .align-i-md-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  .align-i-md-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }

  .align-i-md-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }

  .align-c-md-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }

  .align-c-md-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }

  .align-c-md-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }

  .align-c-md-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }

  .align-c-md-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }

  .align-c-md-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }

  .align-s-md-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }

  .align-s-md-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }

  .align-s-md-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }

  .align-s-md-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }

  .align-s-md-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }

  .align-s-md-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (max-width: 768px) {
  .flex-sm-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }

  .flex-sm-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .flex-sm-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }

  .flex-sm-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }

  .flex-sm-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }

  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }

  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }

  .flex-sm-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }

  .flex-sm-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }

  .flex-sm-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }

  .flns_flexex-sm-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }

  .flex-sm-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }

  .justify-c-sm-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }

  .justify-c-sm-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }

  .justify-c-sm-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .justify-c-sm-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }

  .justify-c-sm-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }

  .align-i-sm-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }

  .align-i-sm-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }

  .align-i-sm-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  .align-i-sm-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }

  .align-i-sm-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }

  .align-c-sm-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }

  .align-c-sm-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }

  .align-c-sm-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }

  .align-c-sm-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }

  .align-c-sm-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }

  .align-c-sm-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }

  .align-s-sm-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }

  .align-s-sm-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }

  .align-s-sm-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }

  .align-s-sm-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }

  .align-s-sm-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }

  .align-s-sm-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (max-width: 576px) {
  .flex-xs-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }

  .flex-xs-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .flex-xs-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }

  .flex-xs-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }

  .flex-xs-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }

  .flex-xs-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }

  .flex-xs-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }

  .justify-c-xs-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }

  .justify-c-xs-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }

  .justify-c-xs-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .justify-c-xs-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }

  .justify-c-xs-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }

  .align-i-xs-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }

  .align-i-xs-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }

  .align-i-xs-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  .align-i-xs-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }

  .align-i-xs-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }

  .align-c-xs-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }

  .align-c-xs-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }

  .align-c-xs-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }

  .align-c-xs-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }

  .align-c-xs-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }

  .align-c-xs-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }

  .align-s-xs-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }

  .align-s-xs-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }

  .align-s-xs-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }

  .align-s-xs-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }

  .align-s-xs-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }

  .align-s-xs-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

/*--end-flex--*/